# Carga de Datos

## Importación de librerías

In [1]:
import sqlite3
import os.path
import pandas as pd

### Constantes

Rutas usuales que se ocuparán en el notebook

In [2]:
# RUTAS
DATA_PATH = os.path.join("..\\data\\")
WF_FOLDER_PATH = os.path.join(DATA_PATH, "wildfires_us")
WF_DATA_PATH = os.path.join(WF_FOLDER_PATH, "FPA_FOD_20170508.sqlite")

Columnas a ocupar

In [11]:
# Nombres de las tablas que se ocuparán
columnas_ocupadas = [
    "FIRE_YEAR",
    "STAT_CAUSE_DESCR",
    "LATITUDE",
    "LONGITUDE",
    "STATE",
    "DISCOVERY_DATE",
    "FIRE_SIZE",
]

columnas_str = ",".join(columnas_ocupadas)
columnas_str

'FIRE_YEAR,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE,STATE,DISCOVERY_DATE,FIRE_SIZE'

## Lectura de datos

In [10]:
def crear_puntero(path=WF_DATA_PATH, msg=False):
    """Función que crea un puntero con el dataset de incendios forestales en US.
    """
    try:
        conn = sqlite3.connect(path)
        if msg: print("Conexión realizada correctamente.")
    except:
        if msg: print("No se encuentra el archivo.")
    return conn

conn = crear_puntero(msg=True)

df = pd.read_sql_query(f"SELECT {columnas_str} FROM 'Fires'", conn)

conn.close()
df

Conexión realizada correctamente.

,FIRE_YEAR,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE,STATE,DISCOVERY_DATE,FIRE_SIZE
0,2005,Miscellaneous,40.036944,-121.005833,CA,2453403.5,0.10
1,2004,Lightning,38.933056,-120.404444,CA,2453137.5,0.25
2,2004,Debris Burning,38.984167,-120.735556,CA,2453156.5,0.10
3,2004,Lightning,38.559167,-119.913333,CA,2453184.5,0.10
4,2004,Lightning,38.559167,-119.933056,CA,2453184.5,0.10
...,...,...,...,...,...,...,...
1880460,2015,Missing/Undefined,40.481637,-122.389375,CA,2457291.5,0.01
1880461,2015,Miscellaneous,37.617619,-120.938570,CA,2457300.5,0.20
1880462,2015,Missing/Undefined,37.617619,-120.938570,CA,2457144.5,0.10
1880463,2015,Missing/Undefined,37.672235,-120.898356,CA,2457309.5,2.00
1880464,2015,Miscellaneous,34.263217,-116.830950,CA,2457095.5,0.10

In [5]:
pd.read_sql_query?

In [6]:
df.columns

Index(['FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM',
       'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 'MTBS_ID', 'MTBS_FIRE_NAME',
       'COMPLEX_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY',
       'DISCOVERY_TIME', 'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'CONT_DATE',
       'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE',
       'LONGITUDE', 'OWNER_CODE', 'OWNER_DESCR', 'STATE', 'COUNTY',
       'FIPS_CODE', 'FIPS_NAME', 'Shape'],
      dtype='object')